:root {
  --thumbnail-width: 200px;
}

* {
  transition-duration: 400ms;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  /*background-image: url(tech.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.thumbnail {
  height: var(--thumbnail-width);
  width: var(--thumbnail-width);
}

.element-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.element-column {
  flex: 1;
  transition-duration: 400ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  gap: 20px;
}

ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  position: relative;
  list-style: none;
  margin-bottom: 10px;
  width: var(--thumbnail-width);
  height: var(--thumbnail-width);
  object-fit: contain;
  margin: 0 0px;
  transform: rotate(0deg) skew(0deg);
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--thumbnail-width);
  height: var(--thumbnail-width);
  background: teal;
  transition: 0.5s;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
}

ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

.cl {
  height: 440px;
}

.stu {
  height: var(--thumbnail-width);
  width: var(--thumbnail-width);
  content: url(./images/log2.jpg);
}
.teacher {
  content: url(./images/tea.jpg);
}
.reg {
  content: url(./images/reg.jpg);
}
.captions {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  transition-duration: 400ms;
}

@media screen and (max-width: 800px) {
  .element-container {
    flex-direction: column;
  }
}
